<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>jsp</display-name>
    <welcome-file-list>
        <welcome-file>home_user.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>periodicals</servlet-name>
        <servlet-class>controller.PeriodicalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>periodicals</servlet-name>
        <url-pattern>/periodicals</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>controller.PeriodicalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>superadmin</servlet-name>
        <servlet-class>controller.PeriodicalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>superadmin</servlet-name>
        <url-pattern>/superadmin</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>superadminFilter</filter-name>
        <filter-class>controller.filters.SuperAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>superadminFilter</filter-name>
        <servlet-name>superadmin</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>periodicalsFilter</filter-name>
        <filter-class>controller.filters.PeriodicalsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>periodicalsFilter</filter-name>
        <servlet-name>periodicals</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>controller.filters.PeriodicalsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <servlet-name>user</servlet-name>
    </filter-mapping>
    <resource-ref>
        <res-ref-name>jdbc/sample</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
